* {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Bebas Neue", sans-serif;

}

.menu {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section-menu {
    background-color: black;
    display: flex;
    align-items: center;
    height: 80px;

}

.section-menu img {
    height: 30px;
    margin-left: 20px;

}

.menu {
    display: flex;
    gap: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 200px;

}

.sale {
    color: red;
}

.menu p {
    margin: 0;
    cursor: pointer;
    transition: 0.3s;
}

.menu p:hover {
    color: white;
}

.direito {
    display: flex;
    padding-left: 40%;
}

.menu-login,
.menu-pesquisa {
    display: flex;
    color: white;
    align-items: center;

}

.menu-login img,
.menu-pesquisa img {
    padding: 10px;
    height: 22px;
    width: 22px;
}


.img-1 img {
    width: 100%;
}

.imagens {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.um {
    width: 600px;
    height: 500px;
}

.novidade {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.sapatos {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.sapato1 img {
    width: 370px;
    height: 400px;
}