    * {
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-family: "Bebas Neue", sans-serif;

    }

.menu {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section-menu {
    background-color: black;
    display: flex;
    align-items: center;
    height: 80px;

}

.section-menu img {
    height: 30px;
    margin-left: 20px;

}



.menu {
    display: flex;
    gap: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 200px;
    

}


.menu a{
    text-decoration: none;
    color: white;
}
.sale {
    color: red;
}

.menu p {
    margin: 0;
    cursor: pointer;
    transition: 0.3s;
    
}

.menu p:hover {
    color: white;
}

.direito {
    display: flex;
    padding-left: 40%;
}

.menu-login,
.menu-pesquisa {
    display: flex;
    color: white;
    align-items: center;

}

.menu-login img,
.menu-pesquisa img {
    padding: 10px;
    height: 22px;
    width: 22px;
}


.img-1 img {
    width: 100%;
}

.imagens {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.um {
    width: 600px;
    height: 500px;
}

.novidade {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.sapatos {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.sapato1 img {
    width: 390px;
    height: 400px;
}

.insta {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.botas {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 40px;

}

.sap img {
    width: 500px;
    height: 475px;
}

.store-roda {
    background-color: black;
    width: 100%;
    height: 90px;
    margin-top: 100px;
}

.store-roda img {
    color: white;
    height: 40px;
    margin-left: 30px;
    margin-top: 35px;

}

.branco {
    background-color: white;
    height: 1px;
}

.rodape {
    background-color: black;
    width: 100%;
    display: flex;
}

.institucional {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    gap: 10px;
    padding-top: 30px;
}

.ajuda {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    gap: 8px;
    padding-top: 30px;
}


.cr{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    gap: 8px;
    padding-top: 30px;
    
}


.rodape-direito {
    display: flex;
    padding-left: 40%;
}



.menu-pesquisa img {
    padding: 10px;
    height: 22px;
    width: 22px;
}

.rodape-direito h1 {
    color: white;
}

.social {
    background-color: black;
    width: 100%;
    display: flex;
    margin-left: 55%;
    padding: 25px 0;
}

.rede-sociais {
    display: flex;
    gap: 12px;
}

.social p {
    color: white;
    font-size: 20px;

}

.icones-sociais {
    display: flex;
    gap: 25px;

}

.social img {
    width: 35px;
    height: 35px;   
    padding: 10px;
    
}




.final {
    background-color: black;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #bfbfbf; 
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.linha-branca {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-bottom: 10px;
}

.texto-final {
    margin: 0;
}



